/* Estilo padrão para o nav */
nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte se necessário */
}

/* Estilo para os links no nav */
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px; /* Ajuste do tamanho da fonte conforme necessário */
}

/* Estilo para o link ativo */
nav a.active {
  border-bottom: 2px solid #ff4081;
}

/* Media query para telas menores */
@media (max-width: 375px) {
  nav {
    padding: 5px; /* Reduz o padding para se ajustar melhor à tela pequena */
  }

  nav a {
    margin: 0 5px; /* Reduz a margem entre os links */
    font-size: 14px; /* Diminui o tamanho da fonte para melhor ajuste */
    padding-bottom: 5px;
  }

}
