/* Garantir que html e body ocupem toda a largura da tela e remover qualquer padding/margin */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Definido uma fonte padrão */
}


.container {
  max-width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
}


@media (max-width: 1440px) {

.about {
  text-align: center;
  padding: 15px; /* Ajustado para melhor ajuste em telas pequenas */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
padding-top: 160px;
}
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
  margin-top: 20px;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.stats div {
  margin: 10px 5px; /* Ajustado para um layout coeso em telas pequenas */
  text-align: center;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.stats h2 {
  font-size: 20px; /* Ajustado para melhor escala em telas pequenas */
}

h1 {
  font-size: 60px; /* Ajusta o tamanho da fonte para telas menores */
  line-height: 1.5; /* Mantém a legibilidade */

}

p {
  font-size: 20px; /* Ajusta o tamanho da fonte para telas menores */
  line-height: 1.5; /* Mantém a legibilidade */

}

h1, p {
  display: inline-block;
  animation: fadeInText 2s ease forwards;
  opacity: 0; /* Inicia invisível */
  margin: 0 auto; /* Centraliza o bloco de texto */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
  text-align: center;
}



@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}






@media (min-width:1440px){
.photo-container {
  margin-top: 50px;
 max-width: 600px;
 max-height: 600px;
}
h1 {
  font-size: 30px; /* Ajusta o tamanho da fonte para telas menores */
  line-height: 1.5; /* Mantém a legibilidade */
}
.about {
  text-align: center;
  padding: 15px; /* Ajustado para melhor ajuste em telas pequenas */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
  margin-bottom: 0px;
}
}

@media (min-width:1024px){
  .photo-container {
    margin-top: 20px;
   max-width: 600px;
   max-height: 600px;
  }
  h1 {
    font-size: 30px; /* Ajusta o tamanho da fonte para telas menores */
    line-height: 1.5; /* Mantém a legibilidade */
  }
.text-container {
  margin-top: 20px;
}

  .about {

    text-align: center;
    padding: 15px; /* Ajustado para melhor ajuste em telas pequenas */
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
  }
  }

@media (max-width: 768px) {
.photo-container {
  padding: 100px;
}
h1 {
  font-size: 60px; /* Ajusta o tamanho da fonte para telas menores */
  line-height: 1.5; /* Mantém a legibilidade */
  padding: 18px;
}
p {
  font-size: 20px; /* Ajusta o tamanho da fonte para telas menores */
  line-height: 1.4; /* Mantém a legibilidade */
  padding-top: 4px;
}
}

/* Ajustes específicos para telas até 375px */
@media (max-width: 475px) {
  .about {
    padding: 15px; /* Ajustado para melhor ajuste em telas pequenas */
  }


  h1 {
    font-size: 22px; /* Ajusta o tamanho da fonte para telas menores */
    line-height: 1.2; /* Mantém a legibilidade */
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  strong {
    line-height: 1.0;
    padding-bottom: 10px;

  }

  p {
    font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    line-height: 1.7; /* Mantém a legibilidade */
    padding-top: 30px;
    max-width: 320px; /* Limita a largura do parágrafo */
  }

  .stats div {
    margin: 10px 5px; /* Espaçamento ajustado */
  }

  .photo-container {
    padding: 60px; /* Ajustado para melhor espaçamento */

    width: 100%; /* Garante que o container ocupe a largura total */
    overflow-x: auto; /* Permite rolar horizontalmente se necessário */
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
  }


  img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do container */
    height: auto; /* Mantém a proporção das imagens */
  }
}

/* Ajustes adicionais para telas ainda menores, como 320px */
@media (max-width: 320px) {
  .about {
    padding: 10px; /* Ajuste adicional para telas muito pequenas */
  }

  h1 {
    font-size: 20px; /* Tamanho da fonte reduzido para telas muito pequenas */
    line-height: 0.5;
  }

  p {
    font-size: 12px; /* Tamanho da fonte reduzido */
    max-width: 300px; /* Limita a largura do parágrafo ainda mais */
  }

  .stats div {
    margin: 8px 3px; /* Ajuste adicional para pequenos espaços */
  }
}
