<section class="about">
  <div class="about-container">
    <div class="text-container">
      <h1>Olá, me chamo Gabriel Ferreira Braga</h1>
      <p class="subtitle">DESENVOLVEDOR FULLSTACK</p>
      <p>Sou graduado em Análise e Desenvolvimento de Sistemas e atualmente estou cursando uma pós-graduação em Desenvolvimento Full Stack. Com 18 anos de idade, descobri minha paixão por tecnologia, atualmente tenho 21 e desde então venho me dedicando a aprimorar minhas habilidades e conhecimentos na área.</p>
    </div>
    <div class="photo-container">
      <img src="../assets/images/braga3.png" alt="Gabriel Ferreira Braga">
    </div>
  </div>
</section>
