.contact {
    text-align: center;
    padding: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin: 5px 0;
  }
  
  form input, form textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
  }
  
  h2, label {
    display: inline-block;
    animation: fadeInText 2s ease forwards;
    opacity: 0; /* Para garantir que o texto inicie invisível */
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }