<section class="skills">
    <h2>Minhas Habilidades</h2>
    <div class="skills-container">
      <div class="skill">
        <img src="../assets/images/html.png" alt="HTML">
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="../assets/images/css.png" alt="CSS">
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="../assets/images/bootstrap.png" alt="Bootstrap">
        <p>Bootstrap</p>
      </div>
      <div class="skill">
        <img src="../assets/images/tailwindcss.png" alt="TailwindCSS">
        <p>TailwindCSS</p>
      </div>
      <div class="skill">
        <img src="../assets/images/js.png" alt="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <img src="../assets/images/angular.png" alt="Angular">
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="../assets/images/react.png" alt="React">
        <p>React</p>
      </div>
      <div class="skill">
        <img src="../assets/images/typescript.png" alt="TypeScript">
        <p>TypeScript</p>
      </div>
    </div>
  </section>
  